h1{
    text-align: center;
    color: rgb(187, 89, 53);
}
div{
    background-color: rgb(0, 189, 0);
    font-size: 130%;
}
body{
    background-color: rgb(210, 243, 91);
}
button{
    font-size: 100%;
    background-color: rgb(124, 92, 92);
}